

.carousel-item{
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    background-size: cover;
}

.carousel-caption{
    bottom: 220px;
}

.carousel-caption h3{
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 215px;
}

carousel-caption p{
   width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
    
}

.navbar-nav a{
    
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    
}
.navbar-light .navbar-brand {
    color: #FFF;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 3px;
    
    margin-top: 20px;
}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show >  .nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link{
    color: #fff;
}

.navbar-nav{
    test-align:center;
}
.nav-link{
    padding: .2rem 1rem;
}
.navbar-light .navbar-nav .nav-item .nav-link:focus, navbar-light .navbar-nav .nav-item .nav-link: hover {
    background: #f55;
    color: #f55 !important; 
}

.w-100{
    height: 100vh;
}
@media only screen and(max-width: 767px)
{
    navbar-nav.ml-auto{
        background: rgba(0,0,0,0.5);
    }
    navbar-toggler{
        padding: 1px 5px;
        font-size: 18px;
        line-height: 0.3;
        background: #fff;
        
    }
}