body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url(../IMAGES/4.png);
    background-repeat: no-repeat;
}
h1{
    color:white;
}
.box{
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.box input[type="text"], .box input[type="password"]{
    
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3498db;
    padding: 15px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 25px;
    transition: 0.25s;
    
}
.box input[type="text"]:focus, .box input[type="password"]:focus{
    width: 280px;
    border-color: aquamarine;
}
.box input[type="submit"]{
     background: none;
    display: block;
    margin: 10px auto;
    text-align: center;
    border: 2px solid #FFC300;
    padding: 15px 5px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 25px;
    transition: 0.25s;
    cursor: pointer;
    
}
.box input[type="submit"]:hover{
    background: #FFC300;
    color: black;
}


.signup{
     width: 300px;
    padding: 40px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
   
    color: white;
     background: none;
    display: block;
    margin: 10px auto;
    text-align: center;
    border: 2px solid  aquamarine;
    padding: 15px 5px;
    width: 100px;
    outline: none;
    color: white;
    border-radius: 25px;
    transition: 0.25s;
    cursor: pointer;
}
.signup:hover{
    background: aquamarine;
    color: black;
}
.home{
     width: 300px;
    padding: 40px;
    position: absolute;
    top: 10%;
    left: 20%;
    transform: translate(-50%,-50%);
    text-align: center;
   
    color: white;
     background: none;
    display: block;
    margin: 10px auto;
    text-align: center;
    border: 2px solid  aquamarine;
    padding: 15px 5px;
    width: 100px;
    outline: none;
    color: white;
    border-radius: 25px;
    transition: 0.25s;
    cursor: pointer;
}
.home:hover{
    background: aquamarine;
    color: black;
}



